@use "@vars" as *;

.App_decoder-button {
    display: inline-block;
    border: none;
    width: 5rem;
    height: 2rem;
    background-color: $fourth-color;
    color: $white-color;
    cursor: pointer;
    transition: background-color 0.2s;
    padding-top: 0.2rem;
    font: {
        size: 1.2rem;
        weight: $medium;
    }
    &:hover {
        background-color: $primary-color;
    }
    &--active {
        background-color: $primary-color;
    }
}

@media (min-width: 1000px) {
    .App_decoder-button {
        width: 9rem;
        height: 3.6rem;
        font: {
            size: 2rem;
        }
    }
}