.App_loading {
    position: relative;
    top: 45%;
    width: 100%;
    padding: 0 3rem;
    animation-name: AppLoading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes AppLoading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .App_loading {
        padding: 0 6rem;
    }
}

@media (min-width: 1000px) {
    .App_loading {
        padding: 0 8rem;
        top: 40%;
    }
}