@use "@vars" as *;
@use "@mixins" as *;

.App_decoder-title {
    @include PhoneParagraph;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.07rem;
    padding: 0 2rem;
    margin: 2rem 2rem 0 2rem;
    .App_decoder-link {
        color: $primary-color;
        cursor: pointer;
        &:hover {
            color: $second-color;
        }
    }
}

.App_decoder-paragraph {
    @include PhoneParagraphLight;
    margin: 2rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.07rem;
}