@use "@vars" as *;
@use "@mixins" as *;

.App_decoder-title {
    @include PhoneParagraph;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.07rem;
    padding: 0 2rem;
    margin: 2rem 2rem 0 2rem;
    .App_decoder-link {
        color: $primary-color;
        cursor: pointer;
        &:hover {
            color: $second-color;
        }
    }
}

.App_decoder-paragraph {
    @include PhoneParagraphLight;
    margin: 2rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.07rem;
}

@media (min-width: 600px) {
    .App_decoder-title {
        @include TabletParagraph;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .App_decoder-paragraph {
        @include TabletParagraphLight;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
}

@media (min-width: 1000px) {
    .App_decoder-title {
        margin-top: 4rem;
        font-size: 3.6rem;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .App_decoder-paragraph {
        @include DesktopParagraphLight;
        margin-bottom: 4rem;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
}