@use "@vars" as *;

.App_decoder-separator {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 0.2rem;
    margin: -0.26rem 0;
    background-color: $primary-color;
}

@media (min-width: 600px) {
    .App_decoder-separator {
        width: 0.2rem;
        height: 100%;
    }
}