@use "@vars" as *;
@use "@mixins" as *;

.App_alphabet {
    text-align: left;
    max-width: 1920px;
    margin: 0 auto;
    ol li {
        &:nth-child(even) {
            margin: 3rem 0;
        }
        &::marker {
            color: $primary-color;
            font-weight: $bold;
        }
    }
    &-title {
        @include PhoneTitle;
        color: $white-color;
        margin: 4rem 2rem 2rem 2rem; 
    }
    &-subtitle {
        @include PhoneParagraphMedium;
        margin: 0 2rem 0 2rem;
    }
    &-paragraph {
        @include PhoneParagraphLight;
        margin: 2rem 2rem 4rem 2rem;
        line-height: 2.4rem;
    }
    &-standars {
        margin-bottom: 2rem;
    }
    &-paragraph span {
        color: $primary-color;
        font-weight: $medium;
        letter-spacing: 0.2rem;
    }
    ul {
        list-style: square;
        margin: 0 2rem;
        li::marker {
            color: $primary-color;
        }
        li {
            strong {
                font-weight: $bold;
            }
        }
    }
    &-values {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        justify-items: start;
        grid-gap: 1rem 0;
        margin: 0 2rem;
        & p {
            font-size: 1.2rem;
            color: $primary-color;
            letter-spacing: 0.2rem;
            & strong {
                color: $white-color;
                font-weight: $bold;
            }
        }
        &--first {
            margin-top: 2rem;
        }
        &--second {
            margin: 5rem 2rem;
        }
    }
    & > p {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: $medium;
        color: $primary-color;
        margin: 4rem 2rem;
        transition: color 0.2s;
        cursor: pointer;
        &:hover {
            color: $second-color;
        }
    }
}


@media (min-width: 600px) {
    .App_alphabet {
        padding: 4rem;
        &-title {
            @include TabletTitle;
            margin-bottom: 4rem;
        }
        &-subtitle {
            @include TabletParagraphMedium;
        }
        &-paragraph {
            @include TabletParagraphLight;
            line-height: 2;
        }
        &-values {
            grid-gap: 2.4rem 0;
            & p {
                font-size: 2rem;
                letter-spacing: 0.2rem;
            }
            &--first {
                margin-top: 4rem;
            }
        }
        & > p {
            margin-top: 8rem;
            font-size: 2.4rem;
        }
    }
}

@media (min-width: 1000px) {
    .App_alphabet {
        &-title {
            @include DesktopTitle;
        }
        &-subtitle {
            @include DesktopParagraphMedium;
        }
        &-paragraph {
            @include DesktopParagraphLight;
        }
        &-values {
            grid-gap: 2.8rem 0;
            & p {
                font-size: 2.8rem;
                letter-spacing: 0.2rem;
            }
            &--first {
                margin-top: 4rem;
            }
        }
        & > p {
            font-size: 3.2rem;
        }
    }
}