@use "@vars" as *;

.App_footer-social-button {
    display: grid;
    place-content: center;
    width: 3rem;
    height: 3rem;
    background-color: $fourth-color;
    transition: background-color 0.2s;
    margin: 0;
    &:hover, &:active {
        background-color: $primary-color;
    }
}