@use "@vars" as *;
@use "@mixins" as *;

.App_history {
    text-align: left;
    &-title {
        @include PhoneTitle;
        color: $white-color;
        margin: 4rem 2rem 2rem 2rem; 
    }
    
    &-paragraph {
        @include PhoneParagraphLight;
        margin: 2rem 2rem 4rem 2rem;
        line-height: 2.4rem;
    }

    &-paragraph strong {
        font-weight: $medium;
    }
    
    &-paragraph span {
        color: $primary-color;
        font-weight: $medium;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
            color: $second-color;
        }
    }
}


@media (min-width: 600px) {
    .App_history {
        padding: 4rem;
        &-title {
            @include TabletTitle;
            margin-bottom: 4rem;
        }
        
        &-paragraph {
            @include TabletParagraphLight;
            line-height: 2;
        }
    }
}

@media (min-width: 1000px) {
    .App_history {
        &-title {
            @include DesktopTitle;
        }
        
        &-paragraph {
            @include DesktopParagraphLight;
        }
    }
}