@use "@vars" as *;
@use "@mixins" as *;

.App_decoder-textarea {
    resize: none;
    width: 100%;
    height: 12rem;
    background-color: inherit;
    border: none;
    color: $white-color;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
    vertical-align: baseline;
    text-align: left;
    caret-color: $primary-color;
    margin: 0;
    padding-right: 1.6rem;
    @include PhoneParagraph;
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

@media (min-width: 600px) {
    .App_decoder-textarea {
        height: 20rem;
    };
}

@media (min-width: 1000px) {
    .App_decoder-textarea {
        height: 28rem;
        letter-spacing: 0.4rem;
        @include DesktopParagraph;
    };
}