@use "@vars" as *;
@use "@mixins" as *;

.App_header {
    width: 100%;
    background: $black-color;
    min-height: 5.8rem;
    &-container {
        width: inherit;
        height: inherit;
        padding: 2rem;
        display: grid;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        figure:first-child {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            justify-self: start;
        }
        figure:nth-child(2) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;
        }
        .App_header-logo {
            width: 13.3rem;
            height: 1.8rem;
            cursor: pointer;
        }
        .App_header-menu {
            margin-top: 3.2rem;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            ul {
                list-style: none;
                li {
                    @include PhoneParagraphMedium;
                    border-bottom: 0.075rem $second-color solid;
                    padding-bottom: 0.8rem;
                    letter-spacing: 0.1rem;
                    cursor: pointer;
                }
                li:hover {
                    color: $primary-color;
                }
                li:nth-child(even) {
                    margin: 2rem 0;
                }
                .App_header-item--active {
                    color: $primary-color;
                    transition: 0.2s;
                    &:hover {
                        color: $second-color;
                    }
                }
            }
        }
        .App_header-menu--hidden {
            display: none;
        }
    }
    &-menu--closed, &-menu--open {
        cursor: pointer;
    }
}

@media (min-width: 600px) {
    .App_header {
        &-container {
            .App_header-menu ul li {
                @include TabletParagraphMedium;
            }
        } 
    }
}

@media (min-width: 1000px) {
    .App_header {
        &-container figure:nth-child(2) {
            display: none;
        }
        &-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2.4rem 4rem;
            .App_header-logo {
                width: 22.4rem;
                height: 2.6rem;
                cursor: pointer;
            }
            .App_header-menu--hidden {
                display: block;
            }
            .App_header-menu {
                margin: 0;
                ul {
                    display: flex;
                    li {
                        display: inline;
                        border-bottom: none;
                        padding: 0;
                        font-size: 2rem;
                    }
                    li:nth-child(even) {
                        margin: 0 2.8rem;
                    }
                    li:last-child {
                        margin-right: 0;
                }}
            }
    }
    }
}