@use "@vars" as *;
@use "@mixins" as *;

.App_footer {
    position: relative;
    z-index: 500;
    margin-top: -0.3rem;
    padding: 4rem 4.5rem;
    width: 100%;
    background-color: $black-color;
    &-container {
        display: grid;
        grid-row: auto;
        justify-items: center;
        align-items: center;
        & > p {
            font: {
                size: 1.6rem;
                weight: $light;
            }
            margin-top: 2rem;
            letter-spacing: 0.05rem;
        }
    }
    &-logo {
        width: 18rem;
        height: 2.4rem;
        cursor: pointer;
    }
}

@media (min-width: 600px) {
    .App_footer {
        &-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            justify-items: start;
            align-items: start;
            figure {
                justify-self: center; 
                    .App_footer-logo {
                        width: 100%;
                    }
                }
            &  .App_footer-logo {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            & > p {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                font-size: 2rem;
                justify-self: center;
                margin-top: 2.4rem;
            }
        }
    }
}

@media (min-width: 1000px) {
    .App_footer {
        padding: 5rem;
        &-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            justify-items: start;
            align-items: start;
            figure {
                .App_footer-logo {
                    height: 3.6rem;
                }
            }
            & > p {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                font-size: 2rem;
                margin-top: 3.2rem;
            }
        }
    }
}