@import "@vars";
@import "@mixins";

.App_footer {
    width: 100%;
    background-color: $black-color;
    padding: 4rem 4.5rem;
    &-container {
        display: grid;
        grid-column: 1fr;
        grid-row: auto;
        place-content: center;
    }
    &-logo {
        width: 18rem;
        height: 2.4rem;
    }
}